*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/openCV3412/build/
/openCV3412/etc/
/openCV3412/java/
/openCV3412/native/
app/build
app/.cxx
app/release
